.about-page {
    text-align: center;
    background-color: #fafafa;
    padding: 20px;
  }
  
  .about-page h1 {
    color: #333;
  }
  
  .about-page .btn {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
  }
  
  .about-page .btn:hover {
    background-color: #007b8a;
  }
  
  